/* Taken from bootstrap: https://github.com/twitter/bootstrap/blob/master/less/tooltip.less */

.popover-inner {
  width: 473px;
  padding: 1px;
  overflow: hidden;
  /*background: #000000;
  background: rgba(0, 0, 0, 0.8);*/
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.popover-title {
  padding: 9px 15px;
  line-height: 1;
  /*background-color: #f5f5f5;*/
  border-bottom: 1px solid #eee;
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
  margin: 0;

}

.popover-content {
  padding: 14px 14px 0px 14px;
  background-color: #ffffff;
  -webkit-border-radius: 0 0 3px 3px;
     -moz-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.popover-content p,
.popover-content ul,
.popover-content ol {
  margin-bottom: 0;
}
.canvas{

	background-color:blue;
}

.action_bar{

	display:inline;
	width: 100%;
	height: 100%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: top;
  cursor:pointer;
  font-weight: bold;
  color: white;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  margin-right:1px
}
.btn-circle:hover{
  opacity: 1;
  filter: alpha(opacity=100);
}
.action_Moveup{
  vertical-align: top;
}
.action_Movedown{
  vertical-align: top;
}
.action_Delete{
  vertical-align: top;
}

.action_Spacer
{
	width:30px;
	height:30px;
	display:inline-block;

}
.popover-close
{
  /*width: 16px;
  height: 16px;*/
  cursor:pointer;
  color:#ff0000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  float: right
}
.popover-close:hover{
  cursor:pointer;
    color:#ff0000;
    opacity: 0.4;
}

.action_Symbol
{
	background-color: #C9302C;
}
.action_Projection
{
	background-color: #F98A5F;
}

.action_Web
{
	background-color: #28BE9B;
}

.action_Legend
{
	background-color: #025AA5;
}
.action_Scalebar
{
	background-color: #EC971F;
}
.action_Outputformat
{
	background-color: #888888;
}
.action_Querymap
{
	background-color: #225588;
}
.action_Reference
{
	background-color: #31B0D5;
}
.action_Layer
{
	background-color: #449D44;
}
.action_Class
{
	background-color: #7D65A3;
}
.action_Cluster
{
	background-color: #74AAF7;
}
.action_Composite
{
	background-color: #F15D58;
}
.action_Feature
{
	background-color: #A68572;
}
.action_Grid
{
	background-color: #28BE9B;
}
.action_Join
{
	background-color: #1499D3;
}
.action_Label
{
	background-color: #02C9C9;
}
.action_Leader
{
	background-color: #CCC51C;
}
.action_Style
{
	background-color: #E45F56;
}
.action_MetaData
{
	background-color: #E45F56;
}
.action_Validation
{
	background-color: #E45F56;
}
.action_Pattern
{
	background-color: #E45F56;
}
table {
 /*font-family: "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;*/
 font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
 box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
 border-collapse: collapse;
 border-spacing: 0;
 font-size:13px;
 margin:10px;
 width:250px;
}
table {
 margin: 0px auto;
 width:100%;
}
table, td, th {
 padding: 5px;
 text-align: left;
 /*border: 1px solid rgb(8,48,107);*/
}
table td {
   /*width: 100px;*/
   overflow: hidden;

}
th {
 background-color: rgb(8,81,156);
 color: white;
}
select{
   min-height:20px;
   width:200px;
   /*border: 1px solid #008000; */
}

input[type=textbox]  {
    width:200px;
   /*border: 1px solid #008000;
   min-height:20px;*/
 }
.lbl{
   padding:0px 3px;
   font-weight:normal
}
.color{
   width:120px;
}
/*label{
  height:10px
}*/
select {
    padding:5px 0;
  }

body /*{ font-family:Lucida Sans, Lucida Sans Unicode, Arial, Sans-Serif; font-size:13px; margin:0px auto;}*/
       { font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;}
       #tabs { margin:0; padding:0; list-style:none; overflow:hidden; }
       #tabs li { float:left; display:block; padding:6px 0px 6px 0px; }
       #tabs li:hover {background-color:#EEEEEE}
       #tabs li a {color:#286090; text-decoration:none;padding:9px}
       #tabs li a:hover { color:#777777; text-decoration:none;padding:9px}
       #tabs li.current { background-color:#286090;color:#ffffff}
       #tabs li.current a { color:#ffffff;text-decoration:none; }
       #tabs li a.remove { color:#f00; margin-left:10px;}
       #content p { margin: 0}

       #main { width:900px; margin:0px auto; overflow:hidden;background-color:#F6F6F6; margin-top:20px;
            -moz-border-radius:10px;  -webkit-border-radius:10px; padding:30px;}
       #wrapper, #doclist { float:left; margin:0 20px 0 0;}
       #doclist { width:150px; border-right:solid 1px #dcdcdc;}
       #doclist ul { margin:0; list-style:none;}
       #doclist li { margin:10px 0; padding:0;}
       #documents { margin:0; padding:0;}

       #wrapper { width:700px; margin-top:20px;}

       #header{ background-color:#F6F6F6; width:100px; margin:0px auto; margin-top:20px;
            -moz-border-radius:10px;  -webkit-border-radius:10px; padding:30px; position:relative;}
       #header h2 {font-size:16px; font-weight:normal; margin:0px; padding:0px;}

       .node {
			cursor: pointer;
		}

		.node circle {
			fill: #fff;
			stroke: steelblue;
			stroke-width: 1.5px;
		}

		.node text {
			font: 10px sans-serif;
		}

		.link {
			fill: none;
			stroke: #ccc;
			stroke-width: 1.5px;
		}

.mtooltip {
    position: relative;
    display: inline-block;

}

.mtooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: white;
    text-align: left;
    font-weight: normal;
    border-radius: 6px;
    padding: 5px 10px 5px 10px;
    margin :25px 0px 0px 0px;
    position: absolute;
    z-index: 1;
}

.mtooltip:hover .mtooltiptext {
    visibility: visible;
}
.ui-colorpicker-hsv label, .ui-colorpicker-rgb label{
	margin-left: 3px;
	font-weight: normal;
}
